<!DOCTYPE html>
<html lang="ru">
    <head>
        {% include "includes/header.html" %}
    </head>
    <br>
    <br>
    <body>
        <br>
        <main>
            <div>
                {% load django_bootstrap5 %}
                {% bootstrap_css %}
                <!-- Using for content blocks -->
                {% block content %} Error( {% endblock %}
            </div>
        </main>
        <footer>
            {% include "includes/footer.html" %}
        </footer>
    </body>
</html>
